* {
	margin: 0;
	padding: 0;
}

.header {
position: absolute;
width: 1440px;
height: 768px;
left: 0px;
top: 0px;
}

.background{
position: absolute;
width: 1440px;
height: 768px;
left: 0px;
top: 0px;
}

.iPhoneApp{
position: absolute;
width: 358px;
height: 551px;
left: 840px;
top: 217px;
}

.iphone{
position: absolute;
width: 358px;
height: 551px;
left: 840px;
top: 217px;
}

.iphone-screen{
position: absolute;
width: 312px;
height: 460px;
left: 863px;
top: 308px;
}

.google-play-badge{
position: absolute;
width: 135px;
height: 40px;
left: 414px;
top: 668px;
}

.appstore-badge {
position: absolute;
width: 135px;
height: 40px;
left: 249px;
top: 668px;
}

p {
position: absolute;
height: 22px;
left: 248px;
top: 139px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
letter-spacing: 0.0555556em;
color: #ffffff;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

h1 {
position: absolute;
width: 329px;
height: 75px;
left: 263px;
top: 312px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 64px;
text-align: center;
letter-spacing: 0.03125em;
color: #EBCB80;
}

h2 {
position: absolute;
width: 334px;
height: 36px;
left: 248px;
top: 417px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 36px;
font-size: 24px;
color: #FFFFFF;
}

h3 {
position: absolute;
width: 459px;
height: 96px;
left: 248px;
top: 473px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;
color: #FFFFFF;

}
.navbar {
position: absolute;
width: 1140px;
height: 45px;
left: 152px;
top: 25px;
}

.lang-field{
position: absolute;
width: 69px;
height: 36px;
left: 1223px;
top: 32px;
}



.menu {
display: flex;
justify-content: flex-end;
font-size: 18px;
letter-spacing: 0.0555556em;
color: #FFFFFF;
padding: 40px;
}
 .menu li {
 	padding: 0 20px;
 	top: 32px;
 	list-style-type: none;

 }
 .menu li a {
 	text-decoration: none;
 	color: #ffffff
 }



.menu-5{
position: absolute;
width: 25px;
height: 22px;
left: 1241.5px;
top: 42px;
}

.HOFMANN{ 
position: absolute;
width: 40px;
height: 43px;
left: 152px;
top: 27px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
text-align: center;
letter-spacing: 0.0554719em;
color: #EBCB80;
}


.search-icon { 
position: absolute;
width: 15px;
height: 22px;
left: 1172.42px;
top: 39.53px;

}

.background-ad {

position: absolute;
width: 1440px;
height: 682px;
left: 0px;
top: 768px;

background: #FFFFFF;
}
.title p {

position: absolute;
width: 304px;
height: 48px;
left: 544px;
top: 837px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 48px;
font-size: 44px;
letter-spacing: -0.0363636em;

color: #4B4B4B;
}
.sub-title p {

position: absolute;
width: 523px;
height: 24px;
left: 459px;
top: 907px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;
text-align: center;

color: #4B4B4B;
}
.col-1 {
	position: absolute;
width: 262px;
height: 354px;
left: 198px;
top: 984px;
}





.circle-1 {

position: absolute;
width: 204px;
height: 205px;
left: 227px;
top: 984px;

}





.number-1 p {
	position: absolute;
width: 131px;
height: 42px;
left: 267px;
top: 1065px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 14px;
font-size: mixed;
letter-spacing: -0.025em;

color: #000000;
}




.total p {
	position: absolute;
width: 185px;
height: 30px;
left: 237px;
top: 1216px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 14px;
font-size: 18px;
text-align: center;

color: #4B4B4B;
}




.sub-total p {
	position: absolute;
width: 262px;
height: 72px;
left: 198px;
top: 1266px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;
text-align: center;
letter-spacing: 0.0555556em;

color: #000000;
}








